<app-films-menu-toolbar></app-films-menu-toolbar>
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let film of films">
            <mat-card  class="film-card">
                <mat-card-header>
                    <mat-card-title>{{film.title}}</mat-card-title>
                    <mat-card-subtitle>{{film.year}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="film.poster" alt="film title">
                <mat-card-content>
                    <p>{{film.genre}}</p>
                    <p>{{film.runtime}} minutes</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary">EDIT</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>